REDIS__REDIS_PASSWORD=
REDIS__REDIS_USER=
REDIS__MAX_CONNECTIONS=
REDIS__REDIS_URL=



TAGS=["B-AGE", "B-BUILDINGNUM", "B-CITY", "B-CREDITCARDNUMBER", "B-DATE", "B-DRIVERLICENSENUM", "B-EMAIL", "B-GENDER", "B-GIVENNAME", "B-IDCARDNUM", "B-PASSPORTNUM", "B-SEX", "B-SOCIALNUM", "B-STREET", "B-SURNAME", "B-TAXNUM", "B-TELEPHONENUM", "B-TIME", "B-TITLE", "B-ZIPCODE", "I-BUILDINGNUM", "I-CITY", "I-CREDITCARDNUMBER", "I-DATE", "I-DRIVERLICENSENUM", "I-EMAIL", "I-GENDER", "I-GIVENNAME", "I-IDCARDNUM", "I-PASSPORTNUM", "I-SEX", "I-SOCIALNUM", "I-STREET", "I-SURNAME", "I-TAXNUM", "I-TELEPHONENUM", "I-TIME", "I-TITLE", "I-ZIPCODE", "O"]

OPENAI_API_KEY="<>"

GF_SECURITY_ADMIN_PASSWORD="admin"
TRITON_SERVER_URL=""triton:8001""